.banner-about{
	background: url('/img/img1.jpg')0px 0px no-repeat;
	height: 300px;
	h1{
		font-size: 40px;
		color: $base-white;
		text-transform: uppercase;
		font-weight: 800; 
		margin-top: 110px;
	}
	h4{
		font-size: 20px;
		color: $base-white;
		text-transform: uppercase;
		font-weight: 200; 
	}
}

.about-details{
	.items-left{
		img{
			max-width: 100%;
		}
	}
	.items-right{
		color: $base-color;
		line-height: 24px;

		.border-comment{
			border: 1px solid $base-border-color;
			padding: 20px 40px;
			margin: 30px 0 0 0; 
			font-size: 13px;
			font-style: italic;
			position: relative;
			&:before{
				content: "\201c";
				position: absolute;
				top: -6px;
    			left: 15px;
				font-size: 35px;
			}
		}
	}
}

.about-offers{
	.offers-items{
		.items{
			img{
				max-width: 100%;
			}

			.title{
				color: $title-color;
				text-transform: uppercase;
				font-weight: 800;
				margin-bottom: 20px;
			}
			.text{
				line-height: 24px;
			}
			ul{
				list-style-type: none;
				padding: 0;
				li{
					font-size: 14px;
					line-height: 27px;
					&:before{
						content: $features-content;
						display: inline-block;
						vertical-align: middle;
						font-size: 10px;
						line-height: 10px;
						font-weight: 800;
						margin: 0 10px 5px 0;
					}
				}
			}

			.btn-host{
				background: $base-orange;
				color: $base-white;
				padding: 20px 35px;
				text-transform: uppercase;
				font-weight: 600;
				&:hover{
					background: $btn-background-hover;
				}
			}
		}
	}
}


.about-team{
	.item{
		margin-top: 25px;
	}
	.items{
		margin-bottom: 70px;
		img{
			max-width: 100%;
		}
		.name{
			font-weight: 800;
			text-transform: uppercase;
			overflow: hidden;
    		text-overflow: ellipsis;
    		white-space: nowrap;
		}

		.social{
			float: left;
			margin-left: 8px;
			&.fb a{
				background: url('/img/icons.png') -59px -33px no-repeat;
			}
			&.tw a{
				background: url('/img/icons.png') 2px -32px no-repeat;
			}
			&.gp a{
				background: url('/img/icons.png') -31px -33px no-repeat;
			}
			a{
				width: 30px;
				height: 30px;
				border: 1px solid $base-border-color;
				display: inline-block;
				
			}
			
		}
	}
}