    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 footer-logo">
            <a href="" class="footer-logo"><img src="img/footer-bottom.png"  alt=""></a>
              <p class="copy">2015 © Allright Reserved</p>
          </div>
          <div class="col-lg-2  col-md-3 col-sm-6 clearfix items">
            <div class="title">Quick links</div>
            <ul class="footer-nav">
              <li><a href="">Home</a></li>
              <li><a href="">About Us</a></li>
              <li><a href="">Service</a></li>
              <li><a href="">Hosting plans</a></li>
              <li><a href="">Domains</a></li>
            </ul>
            <ul class="footer-nav-blg">
              <li><a href="">Faq</a></li>
              <li><a href="">Blog</a></li>
              <li><a href="">Support</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-lg-offset-1 col-md-3 col-sm-6 items">
            <div class="title">Contact us</div>
            <address><span>Address :</span> 9867 lipsum text here</address>
            <p>There are many variations</p>
            <address><span>Email : </span>info@hosting.com</address>
            <address><span>Call : </span>+87 7765 557 888</address>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 items">
            <div class="title">Social media</div>
          	<ul class="social">
          		<li><a href=""></a></li>
          		<li><a href=""></a></li>
          		<li><a href=""></a></li>
          		<li><a href=""></a></li>
          	</ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>