<header class="header">
        <div class="container">
  
          <nav class="navbar" role="navigation">
          <div class="col-xs-9 col-sm-11 col-md-12 col-lg-12 top clearfix">
            <a href="" class="logo"><img src="img/logo.png" alt="Logo"></a>
            <div class="col-lg-5 pull-right enter-blc text-right visible-lg visible-md">
              <ul>
                <li><span>Support </span>: info@webhosting.com</li>
                <li><a href="">Register</a></li>
                <li><a href="">Login</a></li>
              </ul>
            </div>
          </div>

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse clearfix">
              <ul class="hidden-md hidden-lg regist-mobile-show">
                <li><span>Support </span>: info@webhosting.com</li>
                <li class=""><a href="">Register</a></li>
                <li class=""><a href="">Login</a></li>
              </ul>
              <ul class="nav navbar-nav">
                
                <li class="active"><a href="">Home</a></li>
                <li><a href="about.html">About us</a></li>
                <li><a href="">Service</a></li>
                <li><a href="">Hosting Plans</a></li>
                <li><a href="">Domain</a></li>
                <li><a href="">Faq</a></li>
                <li><a href="">Testimonials</a></li>
                <li><a href="">Blog </a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </nav>
        </div>
      </header>