$base_color: #8d9198;
$base-orange: #ff8261;
$base-blue: #52cbf8;
$base-white: #ffffff;
$base-black: #000;

$footer-color: #909aad;
$nav_header_color: #ff8261;
$nav-header-color-hover: #52cbf8;

$search-border-color: #dfeef3;
$base-border-color: #dfeef3;
$title-color: #556b72;

$btn-background-hover: #ff4515;

$background-two: #e7f4f8;
$background-three: #fffbde;

$base-padding-top: 70px;
$base-padding-bottom: 110px;

$footer-background: #4c515b;

$features-content: "〉";

// clearfix
.clearfix {
    display: inline-block;
}
.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
.clearfix {
    display: block;
}

@mixin media($item){
    @media screen and (max-width: $item + px){
        @content;
    }
}
// @include media(12000px){}
html,body{
	width: 100%;
    height: 100%;
}
body{
	font-family: "Open Sans", "Helvetica", "Arial", "Verdana", sans-serif;
	font-size: 14px;
	line-height: 1.15;
	font-style: normal;
	color: $base_color;
}

.p-l-0{
    padding-left: 0 !important;
}
.p-r-0{
    padding-right: 0 !important;
}
.p-rl-0{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.background_two{
    background: $background-two;
}
.background_three{
    background: $background-three;
}

.base_padding{
    padding: $base-padding-top 0 $base-padding-bottom 0;
    @media (max-width: 768px) {
        padding: $base-padding-top/2 0 $base-padding-bottom/2 0;
    }
}

.btn{
    border-radius: 0;
    transition: all .3s linear;
    @include media(768){
        width: 100%;
        display: block;
        text-align: center;

    }
}

